<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><a href="/database" target="_blank" style="text-decoration: none; color: white;">VIEW RAW DATABASE</a></div>
    
</footer>
