<title><%= siteTitle %> - <%= pageTitle %></title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="India's Coronavirus/COVID19 Dashboard. nCovIndia.org is a platform to provide users real-time and in-depth information about the COVID19 outbreak in India.">
<meta name="keywords" content="Coronavirus,COVID,COVID19,COVID-19,India,Indian,andaman,andhra,arunachal,assam,bengal,bihar,cases,chandigarh,chhattisgarh,cluster,confirmed,coronavirus,crisis,dadra,daman,database,deaths,delhi,district,gujarat,haryana,haveli,himachal,immediate,islands,jammu,jharkhand,karnataka,kashmir,kerala,ladakh,lakshadweep,madhya,maharashtra,manipur,meghalaya,mizoram,nadu,nagaland,nagar,ncovindia,,nicobar,pandemic,dashboard,odisha,outbreak,overview,pradesh,puducherry,punjab,rajasthan,recovered,sikkim,state,update,news,tamil,telangana,tripura,uttar,uttarakhand">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

<!-- ChartJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!-- DataTableJS -->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" crossorigin="">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin=""></script>

<!-- Site Icon -->
<link rel="shortcut icon" type="image" href="/images/ncov-logo.png" />

<!-- Custome Stylesheet -->
<link rel="stylesheet" href="/css/style.css">
