<!-- 
<div class="ribbon navbar navbar-expand-md ml-auto" style="background: rgb(194,123,160);">
    <span class="text-center" style="width: 100%;">
        <a href="http://www.saveafghansikhs.org/" target="_blank" style="color: white;">
            COVID19 adds to the severity of Afghan Sikh Crisis - this needs our immediate attention. Click here to read more.
        </a>
    </span>
</div> -->

<div class="ribbon navbar navbar-expand-md ml-auto" style="background: #08AAC6;">
    <span class="text-center" style="width: 100%;">
        <a href="https://imgur.com/download/1oCGorn" style="text-decoration: none; color: white;">Download Government's Action Plan</a>
    </span>
</div>
